@import "../variables";
.grid {
  display: grid;
  grid-template-columns: repeat(3, 13rem);
  grid-template-rows: repeat(3, 13rem);
  gap: 2rem;
  @media (max-width: 45em) {
    grid-template-columns: repeat(3, 11rem);
    grid-template-rows: repeat(3, 11rem);
  }
  @media (max-width: 40em) {
    grid-template-columns: repeat(3, 10rem);
    grid-template-rows: repeat(3, 10rem);
  }
  @media (max-width: 35em) {
    grid-template-columns: repeat(3, 9rem);
    grid-template-rows: repeat(3, 9rem);
    gap: 1rem;
  }
  @media (max-width: 30em) {
    grid-template-columns: repeat(3, 6.5rem);
    grid-template-rows: repeat(3, 6.5rem);
  }
  @media (max-width: 25em) {
    grid-template-columns: repeat(3, 5.5rem);
    grid-template-rows: repeat(3, 5.5rem);
  }
}

.buttonYellow,
.buttonRed,
.buttonBlue,
.buttonGreen {
  border-radius: 50%;
  transition: all 0.3s;
}

.buttonYellowLit,
.buttonRedLit,
.buttonBlueLit,
.buttonGreenLit {
  transform: scale(1.02);
}
.buttonYellow {
  background-color: $color-yellow;
  grid-column: 2/3;
  grid-row: 3/4;
}
.buttonYellowLit {
  background-color: $color-yellow-2;
  box-shadow: 0rem 0rem 4rem rgba($color-yellow-2, 0.9);
}
.buttonYellowOff {
  background-color: $color-yellow-off;
}
.buttonRed {
  background-color: $color-red;
  grid-column: 2/3;
  grid-row: 1/2;
}
.buttonRedLit {
  background-color: $color-red-2;
  box-shadow: 0rem 0rem 4rem rgba($color-red-2, 0.9);
}
.buttonRedOff {
  background-color: $color-red-off;
}
.buttonBlue {
  background-color: $color-blue;
  grid-column: 3/4;
  grid-row: 2/3;
}
.buttonBlueLit {
  background-color: $color-blue-2;
  box-shadow: 0rem 0rem 4rem rgba($color-blue-2, 0.9);
}
.buttonBlueOff {
  background-color: $color-blue-off;
}
.buttonGreen {
  background-color: $color-green;
  grid-column: 1/2;
  grid-row: 2/3;
}
.buttonGreenLit {
  background-color: $color-green-2;
  box-shadow: 0rem 0rem 4rem rgba($color-green-2, 0.9);
}
.buttonGreenOff {
  background-color: $color-green-off;
}
