$color-yellow-off: rgb(90, 77, 0);
$color-yellow: rgba(255, 215, 0, 1);
$color-yellow-2: rgb(255, 251, 0);
$color-yellow-3: rgb(251, 250, 160);
$color-blue-off: rgb(29, 41, 77);
$color-blue: rgba(65, 105, 225, 1);
$color-blue-2: rgb(94, 169, 255);
$color-blue-3: rgb(169, 207, 250);
$color-green-off: rgb(42, 73, 42);
$color-green: rgba(34, 139, 34, 1);
$color-green-2: rgb(46, 211, 68);
$color-green-3: rgb(121, 248, 138);
$color-red-off: rgb(70, 34, 34);
$color-red: rgba(178, 34, 34, 1);
$color-red-2: rgb(241, 76, 35);
$color-red-3: rgb(255, 161, 138);
$color-black: rgb(0, 0, 0);
$color-white: rgba(255, 255, 255, 1);
$color-grey: rgb(68, 69, 77);
